# macOS files ----
.DS_Store

# History files ----
.Rhistory
.Rapp.history

# Session Data files ----
.RData
.Ruserdata

# RStudio files ----
*.Rproj
.Rproj.user/

# R Environment Variables ----
.Renviron

# User-specific files ----
README.html
inst/doc
man/
NAMESPACE
data/BirdLife/BOTW.gdb
data/BirdLife/birdlife_selected_species.gpkg
